* {
    margin: 0px;
    padding: 0px;
    color: #545454;
}
/*editando la barra de navegación*/
#nav {
    list-style: none;
    background-color: #D8D8D8;
    position: fixed;
    width: 100%;
    top: 0px;
    text-align: center;
}
#nav ul li {
    
    display: inline-block;
    font-size: 25px;
    margin: 0px 20px;
    margin-bottom: 10px;
    padding: 10px;
    color: #545454;
}
#liNavImage {
    width: 300px;
}
#imageNav{
    width: 100%;
}
#navList a {
    text-decoration: none;
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times;

}
/*Contenido de compushop*/
#main{
    margin-top: 100px;
    min-height: 71vh;
    text-align: center;
}
/*Calculo*/
#amount {
    background-color: #D8D8D8;
    margin: 0px 350px;
    border-radius: 20px;
    min-height: 180px;
    padding-top: 50px;
    margin-top: 0px;
}
#amountTitle{
    margin-bottom: 40px;
}
#amountButton button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
#amountButton button:hover{
    background-color: #545454 ;
    color: #D8D8D8;
}
/*Orden*/
#orderPay{
    background-color: #D8D8D8;
    margin: 0px 350px;
    border-radius: 20px;
    min-height: 300px;
    padding-top: 50px;
}
#orderPay img{
    width: 50%;
    margin-bottom: 40px;
}
input {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0px 20px;

}
#orderPay p{
    padding-bottom: 20px;
}
#orderPay button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
#orderPay button:hover{
    background-color: #545454 ;
    color: #D8D8D8;
}

/*Pie de pagina*/

#containerFooter {
    text-align: center;
    background-color: #D8D8D8;
    width: 100%;
}
#descriptionFooter, #imgFooter{
    display: inline-block;
}
#imgFooter {
    margin-top: 40px;
}
#descriptionFooter {
    height: 70px;
    font-family: Georgia, 'Times New Roman', Times;
    color: #545454;
    width: 40%;
    text-align: justify;
}
#descriptionFooter h4 {
    margin: 10px 0px;
}
#rightsFooter {
    margin-top: 20px;
    padding-bottom: 10px;
    color: #545454;
}